In [5]:
import re

String="Tiger is a national animal"
pattern="Tiger"

mo=re.match(pattern,String)
mo
#match() is only used to search object from the first occourance

In [6]:
mo.group(0)

'Tiger'

In [9]:
String="Tiger is a national animal"
pattern="Lion"

mo=re.match(pattern,String)
print(mo)

None

In [10]:
String="The  national animal is tiger"
pattern="Tiger"

mo=re.match(pattern,String)
print(mo)
#coz match function is only used to search the first occurance

None

In [12]:
s="The national animal is tiger and the national sports is cricket"
pattern="national"

re.findall(pattern,s)

#re.findall() is used to find all the occurance from the string

['national', 'national']

In [14]:
s="The national animal is tiger and the national sports is cricket"
pattern="national"

mo=re.search(pattern,s)
print(mo)

#search function is used to search the pattern from all the string

<_sre.SRE_Match object; span=(4, 12), match='national'>

In [16]:
s="The national animal is tiger"
pattern="national"

re.search(pattern,s)

In [18]:
s="The national animal is tiger and the national sports is cricket"
pattern="national"

re.findall(pattern,s)

mo=re.finditer(pattern,s)

#finditer() is used to check the index from the string

for m in mo:
    print(m.start())

4
37

In [19]:
s="Ron was bron on 12-08-1998 and was admitted to school on 21-06-2000"
pattern='\d{2}-\d{2}-\d{4}'

re.findall(pattern,s)

['12-08-1998', '21-06-2000']

In [21]:
#sub() is used to find and replace the pattern from the given string
mo=re.sub(pattern, "Monday" ,s )
print(mo)

Ron was bron on Monday and was admitted to school on Monday

In [25]:
m=[1,2,3,4,5,6,7,8,4]
m.remove(4)
m

[1, 2, 3, 5, 6, 7, 8, 4]

In [24]:
m=[1,2,3,9,5,6,7,8]
m.remove(m[4])
m

[1, 2, 3, 9, 6, 7, 8]